<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-EKBSQJ37CQ"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
	
		gtag('config', 'G-EKBSQJ37CQ');
	</script>

	<meta charset="utf-8">

    <title>Blog Template</title>
    <link rel="shortcut icon" href="../../images/samc-logo.png" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- stylesheets css -->
    <link rel="stylesheet" href="../../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/index/et-line-font.css">
    <link rel="stylesheet" href="../css/blogpage.css">
    <!-- for wow animations -->
    <link rel="stylesheet" href="../../css/wow_js_animations/animate.min.css">
    <!-- for icons like linkedin and github -->
    <link rel="stylesheet" href="../../css/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- for the slideshow -->
    <link rel="stylesheet" href="../../css/index/vegas.min.css">
    <!-- for the loading circle-->
    <link rel="stylesheet" href="../../css/preloader/preloader.css">

    <link href='https://fonts.googleapis.com/css?family=Rajdhani:400,500,700' rel='stylesheet' type='text/css'>

</head>
<body>

<!-- preloader section -->
<section class="preloader">
	<div class="sk-circle">
       <div class="sk-circle1 sk-child"></div>
       <div class="sk-circle2 sk-child"></div>
       <div class="sk-circle3 sk-child"></div>
       <div class="sk-circle4 sk-child"></div>
       <div class="sk-circle5 sk-child"></div>
       <div class="sk-circle6 sk-child"></div>
       <div class="sk-circle7 sk-child"></div>
       <div class="sk-circle8 sk-child"></div>
       <div class="sk-circle9 sk-child"></div>
       <div class="sk-circle10 sk-child"></div>
       <div class="sk-circle11 sk-child"></div>
       <div class="sk-circle12 sk-child"></div>
     </div>
</section>

<!-- home section -->
<section id="home">
	<div class="container">
		<div class="row">

			<div class="col-md-offset-2 col-md-8 col-sm-12">
				<div class="home-thumb">
					<h1 class="wow fadeInUp" data-wow-delay="0.4s">Fire Emergency</h1>
          <h3 class="wow fadeInUp" data-wow-delay="0.6s">Scroll down for Safety Protocols and information</h3>
          <!-- <a href="../../blog_home.html" class="btn btn-lg btn-default smoothScroll wow fadeInUp hidden-xs" data-wow-delay="0.8s">Blogs</a> -->
          <a href="../../index.html" class="btn btn-lg btn-default smoothScroll wow fadeInUp hidden-xs" data-wow-delay="1s">Home</a>
				</div>
			</div>

		</div>
	</div>		
</section>

<!-- contact section --> 
<!-- this section is called contact only cause it carries formatting of contact section of the home page-->
<!-- This section used for the body of the blog, nothing else -->
<section id="contact">
	<div class="container">
		<div class="row">

			<div class="col-md-offset-2 col-md-8 col-sm-12">
				<div class="section-title">
          <!-- <h1 class="wow fadeInUp" data-wow-delay="0.0s">Heading</h1> -->
          <h1 class="wow fadeInUp" data-wow-delay="0.2s">
            Hello!
          </h1>
					<p class="wow fadeInUp" data-wow-delay="0.4s">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Urna porttitor rhoncus dolor purus non enim. Habitant morbi tristique senectus et netus et malesuada fames. Tempor id eu nisl nunc mi ipsum. Id venenatis a condimentum vitae sapien pellentesque. Dictum sit amet justo donec enim diam. Elit at imperdiet dui accumsan sit amet nulla facilisi. Netus et malesuada fames ac. Massa vitae tortor condimentum lacinia quis vel eros. Morbi tempus iaculis urna id volutpat lacus. Eu nisl nunc mi ipsum. Tellus pellentesque eu tincidunt tortor aliquam. Sit amet mattis vulputate enim nulla aliquet porttitor lacus. Lectus quam id leo in vitae turpis massa. Pharetra vel turpis nunc eget lorem dolor sed viverra ipsum. Donec massa sapien faucibus et molestie ac feugiat sed. Ultrices in iaculis nunc sed augue lacus viverra vitae congue.
          </p>
          <div class="wow fadeInUp" data-wow-delay="0.6s">
            <img src="images/fireexit.jpg">
          </div>
          <p class="wow fadeInUp" data-wow-delay="0.8s">
            In hac habitasse platea dictumst vestibulum rhoncus est pellentesque. Neque gravida in fermentum et sollicitudin ac orci. Mi quis hendrerit dolor magna eget est lorem ipsum dolor. Molestie nunc non blandit massa enim nec dui. Ac placerat vestibulum lectus mauris. Platea dictumst quisque sagittis purus. Diam donec adipiscing tristique risus. Eros donec ac odio tempor orci dapibus ultrices in. Accumsan lacus vel facilisis volutpat est velit. Nunc id cursus metus aliquam.
          </p>
          <p class="wow fadeInUp" data-wow-delay="0.8s">
            Ipsum nunc aliquet bibendum enim facilisis gravida neque convallis. Habitasse platea dictumst quisque sagittis purus sit. Aliquet enim tortor at auctor urna. Sollicitudin ac orci phasellus egestas tellus rutrum tellus. At ultrices mi tempus imperdiet. A diam sollicitudin tempor id eu nisl nunc mi. Ac felis donec et odio pellentesque diam volutpat commodo sed. Fringilla ut morbi tincidunt augue interdum velit euismod in pellentesque. Ultricies tristique nulla aliquet enim tortor at auctor urna. In hac habitasse platea dictumst vestibulum rhoncus est pellentesque. Amet luctus venenatis lectus magna fringilla urna. Elementum eu facilisis sed odio.
          </p>
          <p class="wow fadeInUp" data-wow-delay="0.8s">
            Enim tortor at auctor urna nunc id. Massa tincidunt dui ut ornare. Egestas tellus rutrum tellus pellentesque eu tincidunt. Nibh ipsum consequat nisl vel pretium lectus. Rhoncus urna neque viverra justo nec. Vel orci porta non pulvinar neque laoreet. Nulla pellentesque dignissim enim sit amet. Nibh praesent tristique magna sit amet purus. Sit amet luctus venenatis lectus magna fringilla. Donec ac odio tempor orci dapibus. Dolor morbi non arcu risus quis. Lacus suspendisse faucibus interdum posuere lorem ipsum dolor sit amet. Ligula ullamcorper malesuada proin libero nunc. Et leo duis ut diam quam nulla porttitor. Tortor consequat id porta nibh venenatis cras. Mattis rhoncus urna neque viverra justo nec. Nisi porta lorem mollis aliquam. Sit amet luctus venenatis lectus. Leo vel fringilla est ullamcorper eget nulla facilisi etiam dignissim.
          </p>
				</div>
        <br>
        </p>
      </div>
    </div>
    <!-- <div>
      <h3 class="wow fadeInUP"> Name 1 </h3>
      <h4 class="wow fadeInUp"> +91 9999999999</h4>
    </div> -->
	</div>
</section>

<!-- nav buttons section -->
<section id="about">
	<div class="container">
		<div class="col">
      <div class="clearfix text-center col-md-12 col-sm-12">
        <a href="../../blog_home.html" class="btn btn-default smoothScroll">blogs</a>
      </div>
      <div class="clearfix text-center col-md-12 col-sm-12">
        <a href="../../index.html" class="btn btn-default smoothScroll">Home</a>
      </div>
    </div>
	</div>
</section>

<!-- footer section -->
<footer>
  <div class="container">
	<div class="row">

      <svg class="svgcolor-light" preserveAspectRatio="none" viewBox="0 0 100 102" height="100" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0 L50 100 L100 0 Z"></path>
      </svg>


      <div class="col-md-4 col-sm-5">
        <h2>SMAC</h2>
        <p class="wow fadeInUp" data-wow-delay="0.3s">
          Also available at:
        </p>
        <ul class="social-icon">
          <li><a href="https://www.linkedin.com/company/safety-medical-advisory-council-bits-pilani/" class="fa fa-linkedin wow bounceIn" data-wow-delay="0.6s"></a></li>
          <li><a href="https://www.facebook.com/smac.bitspilani" class="fa fa-facebook wow bounceIn" data-wow-delay="0.65s"></a></li>
        </ul>
      </div>

	  <div class="col-md-4 col-sm-5">
		<div class="wow fadeInUp" data-wow-delay="0.5s">
			<h4 color="white">Code Contributors</h4>
			<p>Vighnesh N. Ganesh<br>
			page specific coder 1<br>
			page specific coder 2</p>
			<br>
			<p> official repo: </p>
		    <ul class="social-icon">
			<li><a href="https://github.com/bitssmac/smacOnline" class="fa fa-github wow bounceIn" data-wow-delay="0.8s"></a></li>
		  	</ul>
		</div>
	  </div>

	  <div class="col-md-4 col-sm-6">
		<div class="wow fadeInUp" data-wow-delay="0.7s">
			<h4 color="white">Authors</h4>
			<p>author 1<br>
			author 2</p>
			<br>
		</div>
	  </div>

	</div>
  </div>
</footer>

<!-- modal -->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content modal-popup">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h2 class="modal-title">Our Newsletter</h2>
        </div>
        <form action="#" method="post">
          <input name="fullname" type="text" class="form-control" id="fullname" placeholder="Full Name">
          <input name="email" type="text" class="form-control" id="email" placeholder="Email Address">
          <input name="submit" type="submit" class="form-control" id="submit" value="Subscribe Now">
        </form>
        <p>Thank you for your visiting!</p>
      </div>
  </div>
</div>


<!-- Back top -->
<a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>

<!-- javscript js -->
<script src="../../js/jquery.js"></script>
<script src="../../js/index/bootstrap.min.js"></script>

<script src="../../js/index/vegas.min.js"></script>  <!-- along with jquery, is used for the slideshow-->

<script src="../../js/wow_js_animations/wow.min.js"></script> <!-- for wow appear animations -->
<script src="../../js/index/smoothscroll.js"></script>
<script src="../../js/preloader/preloader.js"></script> <!-- for the loading circle -->

<!-- blog specific -->
<script src="js/custom.js"></script>

</body>
</html>